ion-card {
    text-align: center;
	align-content: center;
	align-self: center;
    width:100%;
    margin: 0 !important;
    padding: 5 !important;
}
.small{
    font-size: 2vw;
}
.medium{
    font-size: 3.3vw;
}